@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body, html{
	height: 100vh;
}

/* *******************/
/*       HEADER      */
/* *******************/

header {
	height: 5rem;
}

nav {
	background-color: #e3f2fd;
}

nav span {
	margin-left: 3rem;
	color: #008000;
}

.logo-title {
	font-family: 'Pacifico', sans-serif;
	font-size: 2rem;
	padding-left: 3rem;
}

@keyframes grossirEtRetrecir{
	0% {
		transform: scale(1);
	}
	
	70% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}
.effect-big:hover {
	animation: grossirEtRetrecir 1s ease;
}

.effect-nav:hover {
	font-weight: bold;
}

/* *******************/
/*       main        */
/* *******************/

main {
	
	align-items: center;
	display:flex;
	flex-direction: column;
	margin-bottom: 80px;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 3rem;
	text-align: center;
	margin: 5rem;
}

/* *******************/
/*       footer      */
/* *******************/

footer {
	text-align: center;
	width: 100%;
	height: 50px;
	bottom:0;
	padding: 20px;
}

/* *******************/
/*       all         */
/* *******************/

.message{
	text-align: center;
}
.erreur {
	color:red;
}

.succes {
	color: green;
}

.no-border-style {
	border: none;
	border-radius: 0;
	box-shadow: none;
}








